#########################################################################

[FileLocation]
## This will take all of the .root files in inDir
## And make friend trees in files in outDir
## If inDir and outDir are the same, then the files will be updated
InDir  = /afs/cern.ch/work/d/dabercro/public/Winter15/TestIn
OutDir = /afs/cern.ch/work/d/dabercro/public/Winter15/TestIn

#########################################################################

[TreeNames]
## If the inTreeName and outTreeName are the same
## with inDir and outDir the same, the trees will just get an added branch
## Recommend backing up files before though
InTreeName  = events
OutTreeName = test

#########################################################################

[InputExpressions]

## If you need macros for functions to define pT or anything
## put the macros in this directory.
## Then uncomment the following line and fill out MacrosToLoad
# MacrosToLoad = List.h,macros.C+,like.h,this.cc

## The inputs are TTreeFormula, in case you store Pt in a TLorentzVector
## This is for the footprint correction of photons
PhotonPtExpression      = photonPtRaw
## This is for the footprint correction of Zee
DiLeptonPtExpression    = dilep_pt
## This is for recoil smearing
GenBosonPtExpression    = genBos_pt
GenBosonPdgIdExpression = genBos_PdgId
## Used for seed setting. Very important for syncing
EventNumExpression      = eventNum
## For the following, I use the reconstructed daughter
## This is used by footprint to identify Zee and 
## by recoil to determine which Z or W channel is being smeared
DaughterPdgIdExpression = lep1PdgId

#########################################################################

[OutputBranches]
## These are the names of the branches in the output
## This is for footprint corrections
OutputPhotonPt      = photonFoot
OutputPhotonSysUp   = photonFootUp
OutputPhotonSysDown = photonFootDown
## Also for footprints
## Duplicates DiLeptonPt for muons and corrects for electrons
OutputZPt      = ZFoot
OutputZSysUp   = ZFootUp
OutputZSysDown = ZFootDown
## This is for the recoil smearing
OutputPerpName     = uPerpSmeared
OutputParaName     = uParaSmeared
OutputRecoilPtName = uMagSmeared
## These are not correlated with each other
## Use them to make alternative distributions
OutputPerpUpName     = uPerpSmearedUp
OutputParaUpName     = uParaSmearedUp
OutputRecoilPtUpName = uMagSmearedUp
OutputPerpDownName     = uPerpSmearedDown
OutputParaDownName     = uParaSmearedDown
OutputRecoilPtDownName = uMagSmearedDown

#########################################################################

[Misc]
## Using this will make files run in parallel (I can be impatient)
NumMaxProcesses = 4
## The number of events per each progress report on screen
ReportFrequency = 100000